<!--Navbar-->
      <nav id="navbar">
          <div class="left-side" ng-controller="anchor">
              <a href="" ng-click="home()">Home</a>
              <a href="" ng-click="how()">How It Works</a>
              <a href="" ng-click="discover()">Discover</a>
              <a href="" ng-click="contact()">Contact Us</a>
          </div>
          <div class="right-side">
             <a ui-sref="dashboard">Sign Up</a>
             <a ui-sref="dashboard">Login</a>
          </div> 
       </nav>
    <!--Navbar end -->
    <!--Home Landing Page Start-->
    <header id="main-image" ng-controller="anchor">
       <div id="home" class="mainbody-div">
           <button ng-click="how()" class="banner-btn">
                  <span>Learn More</span>
            </button>
        </div> 
   </header>
   <!--Home Landing Page End-->
   <!--How It Works Section Start-->
   <div class="how-it-works">
      <div class="container">
        <div class="section-header"> 
          <h2 id="how" class="section-title wow fadeIn">How <span>It Works</span></h2>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="item-boxes">
              <div class="icon">
                <i class="fa fa-cog fa-5x" style="color:#909090"></i>
              </div>
              <h4 class="text-color-home">Data Driven Analytics</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="item-boxes">
              <div class="icon">
                <i class="fa fa-bar-chart fa-5x" style="color:#909090"></i>
              </div>
              <h4 class="text-color-home">Algorithm Based Intelligence</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="item-boxes">
              <div class="icon">
                <i class="fa fa-database fa-5x" style="color:#909090"></i>
              </div>
              <h4 class="text-color-home">Centralized Information</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="item-boxes">
              <div class="icon">
                <i class="fa fa-university fa-5x" style="color:#909090"></i>
              </div>
              <h4 class="text-color-home">Interactive Interface</h4>
              <p></p>
            </div>
          </div> 
        </div>
       </div>
      </div>
    <!--How It Works Section End-->
    <!--Start of Discover Section-->
    <div class="discover">
      <div id="discover" class="disc-desc">
        <p>Discover</p>
      </div>
      <div class="discover-img-top">
        <img src="../Images/kin.jpg" alt="kin by kik" class="img-rounded" width>
        <img src="./Images/Tesla-T-logo.jpg" alt="Tesla" class="img-rounded" width>
        <img src="" alt="" class="img-rounded" width>
        <img src="" alt="" class="img-rounded" width>
        <img src="" alt="" class="img-rounded" width>
      </div>
      <div class="discover-img-top">
        <img src="" alt="" class="img-rounded" width>
        <img src="" alt="" class="img-rounded" width>
        <img src="" alt="" class="img-rounded" width>
        <img src="" alt="" class="img-rounded" width>
        <img src="" alt="" class="img-rounded" width>
      </div><br/>
      <div class="starting">
        <!--<a >-->
          <button ui-sref="dashboard" class="btn btn-success btn-lg">Get Started</button>
        <!--</a>-->
      </div>
    </div>
    <!--End of discover section-->
    <!--Start of Contact Us section-->
    <div class="container-contact">
       <div id="contact" class="social-media">
        <p>Connect With Us</p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    
      <div class="contact-us">
          <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="well well-sm">
                    <form class="form-horizontal" action="" method="post">
                    <fieldset>
                      <legend class="text-center">Contact us</legend>
              
                      <!-- Name input-->
                      <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Name</label>
                        <div class="col-md-9">
                          <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                        </div>
                      </div>
              
                      <!-- Email input-->
                      <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Your E-mail</label>
                        <div class="col-md-9">
                          <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                        </div>
                      </div>
              
                      <!-- Message body -->
                      <div class="form-group">
                        <label class="col-md-3 control-label" for="message">Your message</label>
                        <div class="col-md-9">
                          <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                        </div>
                      </div>
   
                      <!-- Form actions -->
                      <div class="form-group">
                        <div class="col-md-12 text-right">
                          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                      </div>
                    </fieldset>
                    </form>
                  </div>
                </div>
            </div>
          </div>
      </div>
     </div>
    <!--End of contact us section-->